.header {
  height: 15vw;
  max-height: 5.5rem;
  position: relative;

  &__wave {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);

    @media (min-width: 500px) {
      top: 50%;
    }
    @media (min-width: 1200px) {
      top: 30%;
    }
  }
}
