.numeric-spinner {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  &__increment,
  &__decrement {
    padding: 0.5rem;
    border: none;
    background: transparent;
    color: black;
    box-shadow: none;
    font-size: 25px;
    line-height: 1;
  }
}
