.versus {
  display: flex;
  justify-content: center;

  &__first-team,
  &__separator,
  &__second-team {
    display: flex;
    align-items: center;
  }

  &__separator {
    margin: 0 0.5rem;
  }

  &__first-team,
  &__second-team {
    font-size: 1.3rem;
  }
}
